*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
}
.regular-txt{
    font-weight: 400;
}
body{
    background-image: url(../Images/bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
body::before{
    content: "";
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}
.main-container{

    width: 300px;
    height: 496px;
    z-index: 1;
    background: linear-gradient(
        to top ,rgba(0,0,0,0.15),
        rgba(255,255,255,0.15)
    );
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
}

/* header */
.input-container{
    position: relative;
    margin-bottom: 25px;
}
.City-input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent   ;
    background-color: rgba(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: border 0.25s ;
    padding-right: 45px;
}
.City-input:focus{
    border: rgba(0, 0, 0, 0.15) solid 3px;
}
.City-input::placeholder{
    color: rgba(255,255,255,0.75);
    font-size: 12px;

}
.btn-search{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-color: unset;
    display: flex;
    border: none;
    cursor: pointer;


}

/* weather info  */

.weather-info{
    display: flex;
    flex-direction: column;
    gap: 25px;


}
.location-data-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.location{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
/* weather img */
.wheather-summary-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
img{
  width: 100%;
}
.container-weather-img {
width: 120px;
height: 120px;
}
.wheather-sammary-info{
    text-align: end;
}
.weather-conditions-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.condition-item{
    display: flex;
    align-items: center;
    gap: 6px;
}
.condition-item span{
    font-size: 40px;
}
.forecast-items-container{
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    padding-bottom: 12px;
}
.forecast-items-container::-webkit-scrollbar{
    height: 8px;
}
.forecast-items-container::-webkit-scrollbar-track{
    background: rgba(255,255,255,0.1);
    border-radius: 99px;
}
.forecast-items-container::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forecast-item{
    min-width: 70px;
    background: rgba(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: background 0.3s;
}
.forecast-item:hover{
    background: rgba(255,255,255,0.15);
    user-select: none;
}
.forecast-item-img{
    width: 35px;
    height: 35px;

}

/* section-message */
.section-message{
display: flex;
flex-direction: column;
gap: 15px;
align-items: center;
text-align: center;
margin-top: 25%;
}
.section-message{
    height: 180px;
    width: fit-content;
}